<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue Mastery</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@next"></script>
 
  </head>
  <body>
    <div id="app">
      <div>
        <p>{{ cart }}</p>
      </div>
      <h1>{{ product }}</h1>
      <a :href="url">
        <img :src="image" width="355" height="390" alt="" />
        <p v-if="inventory > 10">In Stock</p>
        <p v-else-if="inventory < 10 && inventory > 0">Almost sold out</p>
        <p v-else>Sold out</p>
      </a>
      <p>{{ description }}</p>
      <p v-if="onSale">on sale!</p>
      <div>
        <li v-for="detail in details">{{ detail }}</li>
      </div>
      <div>
        <p v-for="variant in variants" :key="variant.id" @mouseover="updateImage(variant.image)">
          {{ variant.color }}
        </p>
        <p v-for="size in sizes">
          {{ size }}
        </p>
      </div>
      <button class="button" @click="addToCart" >Add to cart</button>
      <button class="button" @click="addToCart">+</button>
      <button class="button" @click="removeFromCart">-</button>
    </div>
    </div>
    <!-- Import Js -->
    <script src="./main.js"></script>
  </body>
</html>
